<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<div id="products">
  <%= render partial: "product", collection: @products %>
  <%== pagy_nav(@pagy) %>
  <!-- you can use bootstrap styling if you wish, or tailwind 
    https://ddnexus.github.io/pagy/docs/extras/bootstrap/
    https://ddnexus.github.io/pagy/docs/extras/tailwind/
  -->
</div>